@charset "UTF-8";

body {
    background-color: #FFF196;
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic'
}

.w {
    width: 1080px;
    margin: 0 auto;
}

.glheader {
    height: 190px;
    background-color: #F89310;

    &__sublogo {
        color: #F5F5F5;
    }
}