@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

// color
$l-orange: #FFEAC5;
$orange: #F4810E;
$brown:#4b4539;
$l-brown:#b78d4a;
$green:#83b33c;
$white:#fff;
$clear:rgba(0, 0, 0, 0.0);

@mixin btn {
    background-color: $green;
    color: $white;
    border-radius: 5px 5px;
    // text-align: center;
}

@mixin shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);

}

@mixin titlebase {
    width: 350px;
    height: 80px;
    color: $orange;
    border: 3px solid $l-brown;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px 5px;

    @include shadow h2 {
        margin-top: 8px;
        font-size: 2.2rem;
        font-weight: bold;
    }

    p {
        margin-top: 8px;
        font-weight: bold;
        font-size: 1.0rem;
    }
}


// 全体共通
body {
    font-family: 'Noto Sans JP', sans-serif;
}


ul {
    list-style: none;
}

.w {
    width: 990px;
    margin: 0 auto;
}

// ヘッダー
.glheader {
    background-color: $l-orange;
    position: relative;
    display: block;

    &__top {
        padding-bottom: 35px;
        position: relative;
        background-color: $orange;
        display: block;
        height: 10px;

    }

    &__top::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat;
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px 15px, $l-orange 12px, transparent 13px);
    }

    &__top::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat;
        height: 15px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, $l-orange 13px);
    }

    &__area {
        display: block;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
    }


    &__logo {
        text-indent: -9999px;
        width: 180px;
        height: 50px;
        background: url("../images/headerlogo.png") 0 0 no-repeat;
        background-size: contain;
    }

    &__catch {
        width: 235px;
        color: $brown;
        font-size: 1.2rem;
    }

    &__box {
        width: 510px;
        padding: 5px;
        background-color: $white;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        @include shadow;
        display: flex;


        &__tel {
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            font-weight: bold;
            color: $orange;
            margin: 0;
            margin-left: 20px;

            &__topic {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    text-align: center;
                    width: 1.6rem;
                    height: 1.6rem;
                }

                p {
                    text-align: center;
                }

            }
        }

        &__btn {
            margin-left: 30px;
            width: 300px;
            display: flex;
            justify-content: space-between;

            &__contact {
                width: 140px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.0rem;
                @include btn;

                p {
                    text-align: center;
                }
            }

            &__faq {
                width: 140px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.0rem;
                @include btn;

                p {
                    text-align: center;
                }
            }
        }
    }
}

.glheader::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);

}

.glheader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);


}





// トップイメージ
.topimage {
    display: block;
    height: 660px;

    background: $white url("../images/heroimage.png") left bottom repeat-x;
    height: 660px;

    &__area {
        display: block;
        height: 660px;
        position: relative;



        &__catch {
            position: absolute;
            height: 150px;
            width: 450px;
            margin: 0;
            background: url("../images/catch.png") 0 0 no-repeat;
            background-size: contain;
            left: 50px;
            top: 50px;
        }

        &__hero {
            position: absolute;
            height: 540px;
            width: 390px;
            background: url("../images/hero.png") 0 0 no-repeat;
            right: 40px;
            bottom: 40px;
        }

        &__logo {
            position: absolute;
            height: 218px;
            width: 580px;
            background: url("../images/logo.png") 0 0 no-repeat;
            left: 50px;
            top: 230px;
        }

    }

}

// .topimage::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat;
//     height: 10px;
//     background-size: 20px 20px;
//     background-image: radial-gradient(circle at 10px -5px, transparent 12px, $orange 13px);

// }

// .topimage::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat;
//     height: 15px;
//     background-size: 20px 20px;
//     background-image: radial-gradient(circle at 10px 15px, $orange 12px, transparent 13px);

// }

// 帯
.bar {
    position: relative;
    background-color: $orange;
    display: block;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;

    &__catch {
        color: $white;
        font-size: 2.4rem;
        text-align: center;
    }
}

.bar::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);
}

.bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);
}

// メイン
// サービス
.service {
    padding-bottom: 0px;
    position: relative;
    display: block;


    &__title {
        @include titlebase background-color: $l-orange;
        margin-bottom: 58px;
    }

    &__intro {
        text-align: center;
        margin: 0 auto;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        position: relative;
        margin-bottom: 20px;
        @include shadow;

        &__title {
            width: 215px;
            height: 30px;
            font-size: 1.6rem;
            position: absolute;
            background-color: $white;
            top: -38px;
            padding-left: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            left: 0;
            right: 0;
            margin: auto;
            color: $orange;

            border: 3px solid $l-brown;
            border-radius: 10px 10px;

            @include shadow;
        }

        &__para {
            font-size: 1.2rem;
            padding: 35px;
            line-height: 4.0rem;
            font-weight: bold;
            color: $brown;

            &__span {
                font-size: 1.5rem;
                font-weight: bold;
                color: $orange;
                display: inline-block;
                background: linear-gradient(transparent 60%, $l-orange 0%);

            }
        }
    }

    &__topics1,
    &__topics2 {
        &__topic {
            position: relative;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, .3));


            &__title {
                text-align: center;
                margin-top: 33px;
                font-size: 1.5rem;
                color: $l-orange;
            }

            &__price {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;

                &__bar {
                    padding: 10px;
                    border: 3px solid $l-brown;
                    background-color: $l-orange;
                    color: $l-brown;
                    font-weight: bold;
                    font-size: 2.2rem;
                    text-align: center;
                    border-radius: 5px 5px;
                }
            }
        }
    }

    &__topics1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &__topic {
            width: 250px;
            height: 290px;
        }

        &__topic:nth-child(1) {
            margin-left: 20px;
            background-image: url("../images/s-img01.png");
            background-size: contain;
        }

        &__topic:nth-child(2) {
            background-image: url("../images/s-img02.png");
            background-size: contain;
        }

        &__topic:nth-child(3) {
            margin-right: 20px;
            background-image: url("../images/s-img03.png");
            background-size: contain;
        }
    }

    &__topics2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &__topic {
            width: 250px;
            height: 290px;
            margin-bottom: 15px;

        }

        &__topic:nth-child(1) {
            margin-left: 20px;
            background-image: url("../images/s-img04.png");
            background-size: contain;
        }

        &__topic:nth-child(2) {
            background-image: url("../images/s-img05.png");
            background-size: contain;
        }

        &__topic:nth-child(3) {
            margin-right: 20px;
            background-image: url("../images/s-img06.png");
            background-size: contain;
        }
    }

    &__para {
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        padding-bottom: 50px;
    }
}



.service::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $l-orange 13px);

}

.service::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $l-orange 12px, transparent 13px);

}

// ガイド
.guide {
    background-color: $l-orange;
    padding-top: 50px;
    margin-bottom: 50px;
    position: relative;
    display: block;

    &__area {

        &__title {
            @include titlebase background-color: $white;
            margin-bottom: 48px;
        }

        &__topics {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;

            &__topic {
                height: 260px;
                background-color: $white;
                width: 216px;
                position: relative;
                border: 3px solid $l-brown;
                padding: 20px;
                margin-right: 25px;
                border-radius: 5px 5px;

                @include shadow;


                &__round {
                    display: block;
                    width: 65px;
                    height: 65px;
                    background-color: $orange;
                    border-radius: 50%;
                    border: 3px solid $l-brown;
                    position: absolute;
                    top: -32px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-weight: bold;
                    font-size: 1.2rem;

                    @include shadow;

                    &__num {
                        font-size: 1.5rem;
                    }
                }

                &__title {
                    padding-top: 50px;
                    text-align: center;
                    font-size: 1.4rem;
                    margin-bottom: 20px;

                }

                &__img {
                    height: 100px;
                }

                &__para {
                    text-align: center;

                }


            }
        }
    }

    &__last__topic {
        margin: 0;
    }
}

.guide::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);

}

.guide::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);
}

// 連絡
.contact {
    padding-bottom: 50px;
    position: relative;
    display: block;


    &__area {
        @include shadow;
        padding: 20px 0;

        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        @include shadow;

        &__para {
            text-align: center;
            margin-bottom: 20px;
            font-size: 2.4em;
            font-weight: bold;
        }

        &__topics {
            text-align: center;
            width: 500px;
            margin: 0 auto;

            &__tel {
                height: 90px;
                @include btn display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                &__number {
                    font-size: 2.2rem;
                }
            }

            &__mail {
                height: 90px;
                @include btn display: flex;
                justify-content: center;
                align-items: center;

                &__btn {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.contact::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $orange 13px);


}

.contact::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $orange 12px, transparent 13px);
}

// トップに戻るボタン
.topbtn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: $orange;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

// フッター
.glfooter {
    height: 80px;
    background-color: $orange;

}