@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

// color
$l-orange: #FFEAC5;
$orange: #F4810E;
$brown:#4b4539;
$l-brown:#b78d4a;
$green:#83b33c;
$white:#fff;
$clear:rgba(0, 0, 0, 0.0);

@mixin btn {
    background-color: $green;
    color: $white;
    border-radius: 5px 5px;
    // text-align: center;
}

@mixin btnhover {
    opacity: 0.5;
}



@mixin titlebase {
    width: 350px;
    height: 80px;
    color: $orange;
    border: 3px solid $l-brown;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px 5px;

    h2 {
        margin-top: 8px;

        img {

            text-align: center;
            height: 35px;
        }
    }

    p {
        margin-top: 8px;
        font-weight: bold;
        font-size: 1.0rem;
    }
}


// 全体共通
body {
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    margin-right: 10px;
}

.w {
    width: 990px;
    margin: 0 auto;
}

// ヘッダー
.glheader {
    background-color: $l-orange;
    position: relative;
    display: block;

    &__top {
        padding-bottom: 35px;
        position: relative;
        background-color: $orange;
        display: block;
        height: 10px;

    }

    &__top::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat;
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px 15px, $l-orange 12px, transparent 13px);
    }

    &__top::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat;
        height: 15px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, $l-orange 13px);
    }

    &__area {
        display: block;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        &__logoarea {
            height: 100px;
            margin-bottom: 10px;
            width: 30%;

            &__logo {
                text-indent: -9999px;
                height: 75px;
                background: url("../images/headerlogo.png") 0 0 no-repeat;
                background-size: contain;
            }

            &__catch {
                color: $brown;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }

    }

    &__box {
        width: 65%;
        padding: 10px;
        background-color: $white;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;

        display: flex;
        justify-content: space-between;


        &__tel {
            width: 45%;
            display: flex;
            justify-content: space-between;
            font-size: 2.3rem;
            font-weight: bold;
            margin: 0;
            margin-left: 20px;

            &__topic {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    text-align: center;
                    width: 1.6rem;
                    height: 1.6rem;
                }

                p {
                    text-align: center;
                    color: $orange;
                }

            }
        }

        &__btn {
            width: 50%;
            display: flex;
            justify-content: center;

            &__contact {
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.0rem;
                @include btn;
                font-weight: bold;
                margin-right: 5px;

                p {
                    text-align: center;
                }
            }

            &__contact:hover {
                @include btnhover
            }

            &__faq {
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.0rem;
                @include btn;
                font-weight: bold;

                p {
                    text-align: center;
                }
            }

            &__faq:hover {
                @include btnhover
            }
        }
    }
}

.glheader::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);

}

.glheader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);


}





// トップページ
// トップイメージ
.topimage {
    display: block;
    height: 660px;
    position: relative;

    background: $white url("../images/heroimage.png") left bottom repeat-x;
    height: 660px;
    margin-bottom: 50px;

    &__area {
        display: block;
        height: 660px;
        position: relative;



        &__catch {
            position: absolute;
            height: 150px;
            width: 450px;
            margin: 0;
            background: url("../images/catch.png") 0 0 no-repeat;
            background-size: contain;
            left: 0px;
            top: 50px;
        }

        &__hero {
            position: absolute;
            height: 540px;
            width: 390px;
            background: url("../images/hero.png") 0 0 no-repeat;
            right: 40px;
            bottom: 40px;
        }

        &__logo {
            position: absolute;
            height: 218px;
            width: 580px;
            background: url("../images/logo.png") 0 0 no-repeat;
            left: 00px;
            top: 230px;
        }

        &__bar {
            position: absolute;
            background-color: $orange;
            display: block;
            height: 50px;
            padding: 20px;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;

            &__catch {
                background-color: $orange;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 45px;
                    vertical-align: middle;
                }
            }
        }

        &__bar::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: repeat;
            height: 10px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);

        }

        &__bar::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: repeat;
            height: 15px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);


        }

    }

}


// 帯


// .bar::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat;
//     height: 10px;
//     background-size: 20px 20px;
//     background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);
// }

// .bar::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-repeat: repeat;
//     height: 15px;
//     background-size: 20px 20px;
//     background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);
// }

// メイン
// サービス
.service {
    padding-bottom: 50px;
    position: relative;
    display: block;



    &__title {
        @include titlebase;
        background-color: $l-orange;
        margin-bottom: 58px;
    }

    &__intro {
        text-align: center;
        margin: 0 auto;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        position: relative;
        margin-bottom: 30px;


        &__title {
            width: 250px;
            height: 70px;
            font-size: 1.2rem;
            position: absolute;
            background-color: $white;
            top: -33px;
            left: 0;
            right: 0;
            margin: auto;
            color: $orange;
            line-height: 0.8rem;
            border: 3px solid $l-brown;
            border-radius: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                padding-left: 5px;
                padding-top: 18px;
            }

        }

        &__para {
            font-size: 1.2rem;
            padding: 35px;
            line-height: 4.0rem;
            font-weight: bold;
            color: $brown;

            &__span {
                font-size: 1.5rem;
                font-weight: bold;
                color: $orange;
                display: inline-block;
                background: linear-gradient(transparent 60%, $l-orange 0%);

            }
        }

        &__icon1 {
            display: block;
            height: 150px;
            width: 105px;
            background-image: url("../images/s-i-img01.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            position: absolute;
            top: 150px;
            left: 90px;

        }

        &__icon2 {
            display: block;
            height: 150px;
            width: 105px;
            background-image: url("../images/s-i-img02.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            position: absolute;
            top: 250px;
            right: 90px;

        }

        &__icon3 {
            display: block;
            height: 150px;
            width: 105px;
            background-image: url("../images/s-i-img03.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            right: 110px;
            position: absolute;
            top: 350px;
            left: 140px;

        }
    }

    &__topics1,
    &__topics2 {
            position: relative;
            display: flex;
            justify-content: space-between;
        &__topic {
            margin-bottom: 25px;
            width: 230px;
            height: 280px;
                position: relative;


            &__title {
                text-align: center;
                margin-top: 33px;
                font-size: 1.5rem;
                color: $l-orange;
                img {
                        width: 100%;
                }
            }

            &__price {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;

                &__bar {
                    padding: 10px;
                    border: 3px solid $l-brown;
                    background-color: $l-orange;
                    color: $l-brown;
                    font-weight: bold;
                    font-size: 2.2rem;
                    text-align: center;
                    border-radius: 5px 5px;
                }
            }
        }
    }

    &__topics2 {

        &__topic {
            margin-bottom: 15px;

        }


    }

    &__para {
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        padding-bottom: 50px;
    }
}



.service::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $l-orange 13px);

}

.service::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $l-orange 12px, transparent 13px);

}

// ガイド
.guide {
    background-color: $l-orange;
    padding-top: 50px;
    margin-bottom: 50px;
    position: relative;
    display: block;

    &__area {

        &__title {
            @include titlebase background-color: $white;
            margin-bottom: 48px;
        }

        &__topics {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;

            &__topic {
                height: 260px;
                background-color: $white;
                width: 216px;
                position: relative;
                border: 3px solid $l-brown;
                padding: 15px;
                margin-right: 25px;
                border-radius: 5px 5px;
                display: block;




                &__round {
                    display: block;
                    width: 65px;
                    height: 65px;
                    background-color: $orange;
                    border-radius: 50%;
                    border: 3px solid $l-brown;
                    position: absolute;
                    top: -32px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-weight: bold;
                    font-size: 1.2rem;



                    &__num {
                        font-size: 1.5rem;
                    }
                }

                &__title {
                    padding-top: 40px;
                    text-align: center;
                    font-size: 1.4rem;
                    margin-bottom: 20px;
                    color: $brown;

                }

                &__image1 {
                    margin: 0 auto;
                    width: 90px;
                    height: 100px;
                    background-image: url("../images/g-step1.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-bottom: 20px;

                }

                &__image2 {
                    margin: 0 auto;
                    width: 100px;
                    height: 110px;
                    background-image: url("../images/g-step2.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-bottom: 10px;

                }

                &__image3 {
                    margin: 0 auto;
                    width: 80px;
                    height: 90px;
                    background-image: url("../images/g-step3.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-bottom: 30px;

                }

                &__image4 {
                    margin: 0 auto;
                    width: 90px;
                    height: 100px;
                    background-image: url("../images/g-step4.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-bottom: 20px;

                }

                &__para {
                    text-align: center;
                    font-size: 1.0rem;
                    font-weight: bold;
                    line-height: 1.2rem;
                    color: $brown;

                }


            }
        }
    }

    &__last__topic {
        margin: 0;
    }
}

.guide::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $white 12px, transparent 13px);

}

.guide::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $white 13px);
}

// よくあるご質問
.faq {
    padding-bottom: 0px;
    position: relative;
    display: block;


    &__title {
        @include titlebase background-color: $l-orange;
        margin-bottom: 58px;
    }

    &__list {
        &__topics {
            padding-bottom: 50px;
            position: relative;

            &__topic {
                margin: 0 auto;
                border: 3px solid $l-brown;
                border-radius: 5px 5px;
                position: relative;
                margin-bottom: 20px;

                &__round {

                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    border: 3px solid $l-brown;
                    position: absolute;
                    top: -40px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

p.question {
    margin: 0 auto 0 0;
    cursor: pointer;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: $brown;
}

p.question::after {
    float: right;
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 30px;
    /*画像の幅*/
    height: 30px;
    /*画像の高さ*/
    background-image: url("../images/faq.png");
    background-size: contain;
    vertical-align: middle;
}


p.question:hover {
    opacity: 0.5;
}

p.answer {
    font-weight: bold;
    color: $orange;
    display: none;
    margin: 0 20px 10px 20px;
    padding: 20px;
    font-size: 1.8rem;
}



.faq::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $l-orange 13px);

}

.faq::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $l-orange 12px, transparent 13px);

}

// コンタクト
.contactform {
    background-color: $l-orange;
    padding-top: 50px;
    position: relative;
    display: block;
    padding-bottom: 130px;

    &__title {
        @include titlebase;
        background-color: $white;
        margin-bottom: 20px;
    }

    &__area {
        background-color: $white;
        padding: 30px 0;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            color: $brown;
            margin-bottom: 20px;
        }

        &__para {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 15px;
            color: $orange;
        }

        &__box {
            display: block;
            border: 3px solid $l-orange;
            padding: 20px;
            text-align: center;

            &__topics {
                margin-bottom: 20px;
                color: $brown;

                &__topic {
                    width: 180px;
                    float: left;
                }

                &__topic::after {
                    content: "必須";
                    padding: 3px;
                    font-size: 0.8rem;
                    color: $white;
                    border-radius: 5px 5px;
                    background-color: $orange;
                    float: right;
                }
            }

            &__topics:nth-child(5) {
                padding-bottom: 16px;
            }

            &__topics:last-child {
                margin-bottom: 0;
            }

            &__btn {
                font-weight: bold;
                border: none;
                @include btn;
                height: 50px;
                width: 200px;
                font-size: 1.5rem;
                font-family: 'Noto Sans JP', sans-serif;
            }

            &__btn:hover {
                @include btnhover
            }
        }
    }
}

.formarea {
    width: 450px;
    border: 1px dotted $l-brown;
    border-radius: 5px 5px;
    padding: 8px;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Noto Sans JP', sans-serif;
}

.contactform::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $orange 13px);

}

.contactform::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $orange 12px, transparent 13px);

}




// 連絡
.contact {
    padding-bottom: 50px;
    position: relative;
    display: block;



    &__area {

        padding: 30px 50px;
        border: 3px solid $l-brown;
        border-radius: 5px 5px;
        background-color: $white;



        &__para {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: bold;
            color: $brown;
        }

        &__topics {
            text-align: center;
            width: 700px;
            margin: 0 auto;

            &__tel {
                height: 90px;
                @include btn;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                &__number {
                    font-size: 3.2rem;
                    font-weight: bold;
                }
            }

            &__tel:hover {
                @include btnhover
            }

            &__mail {
                height: 90px;
                @include btn;
                display: flex;
                justify-content: center;
                align-items: center;

                &__btn {
                    font-size: 2.0rem;
                    font-weight: bold;
                }
            }

            &__mail:hover {
                @include btnhover
            }
        }
    }
}

.contact::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, $orange 13px);

}

.contact::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px 15px, $orange 12px, transparent 13px);
}

.shiny-btn1 {
    display: block;
    position: relative;
    width: 100%;
    /*ボタンの幅*/
    margin: 0 auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.shiny-btn1:hover {
    text-decoration: none;
    color: #fff;
}

.shiny-btn1::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 4s ease-in-out infinite;
}

@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}


// フッター
.glfooter {
    height: 80px;
    background-color: $orange;
    color: $white;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 25px;

    &__copy {
        img {
            height: 30px;
            padding: 0 5px;
        }
    }

}

// トップに戻るボタン
.topbtn {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    bottom: 150px;
    background: $orange;
    border-radius: 50%;
}

.topbtn:hover {
    opacity: 0.6;
}

.topbtn a {
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: bold;
    font-size: 1.5rem;
}

.topbtn a span {
    text-align: center;
}

/*スマホ用ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 768px) {
    body {
        // background-color: red;
    }

    .w {
        width: 100%;
    }

    .titlebox {
        width: 100%;
        padding: 0;

        h2 {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    // ヘッダー
    .glheader {
        height: 350px;
        padding-bottom: 50px;

        &__area {
            display: block;

            &__logoarea {
                width: 100%;
                height: 120px;
                margin-bottom: 20px;

                &__catch {
                    width: 100%;
                    height: auto;
                }

                &__logo {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__box {
            width: 100%;
            display: block;
            padding: 15px 0;

            &__tel {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-bottom: 10px;

                &__topic {
                    font-size: 2.4rem;
                    color: $orange;
                }
            }

            &__btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 0;

                &__contact,
                &__faq {
                    font-size: 1.2rem;
                    width: 100%;
                    margin: 5px;
                }

            }
        }
    }

    // トップイメージ
    .topimage {
        &__area {
            height: 500px;

            &__catch {
                width: 100%;
            }

            &__hero {
                width: 50%;
                height: 50%;
                background-size: contain;
                margin: 0 auto;
                position: absolute;
                right: 0;
                left: 0;
            }

            &__logo {
                width: 70%;
                background-size: contain;
                float: left;
            }

            &__bar {
                width: 100%;
                padding: 0;

                &__catch {
                    img {
                        width: 100%;
                    }
                }

            }
        }

    }

    .service {
        &__intro {
            width: 100%;
            padding: 0;
            position: relative;

            &__para {
                padding: 50px 0;
                margin: 50px 0;
                font-size: 0.8rem;
                line-height: 2.0rem;

                &__span {
                    font-size: 1.0rem;
                }
            }

            &__icon1 {
                position: absolute;
                top: 160px;
                left: 20px;

            }

            &__icon2 {
                position: absolute;
                top: 180px;
                right: 20px;

            }

            &__icon3 {
                position: absolute;
                top: 410px;

            }

            &__icon1,
            &__icon2,
            &__icon3 {
                opacity: 0.3;
            }
        }

        &__topics1,
        &__topics2 {
            display: block;
            padding: 0;
            margin-left: 0;
            width: 100%;

            &__topic {
                &__title {
                    padding-top: 40px;
                    text-align: center;
                }
            }

            &__topic:nth-child(1) {
                margin: 0 auto;
                width: auto;
                height: auto;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            &__topic:nth-child(2) {
                margin: 0 auto;
                width: 80%;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            &__topic:nth-child(3) {
                width: 80%;
                margin: 0 auto;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
        }
    }

    .guide {
        &__area {
            &__topics {
                width: 100%;
                display: block;

                &__topic {
                    width: 75%;
                    margin: 0 auto;
                    padding: 0;
                    margin-bottom: 40px;

                }

                &__topic:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .contactform {
        &__area {
            &__box {
                width: 100%;
                display: block;
                padding: 0;
                border: none;

                &__topics {
                    width: 100%;

                    &__topic {
                        float: none;
                        margin: 0 auto;

                    }

                    &__topic::after {
                        margin-left: 5px;
                        float: none;
                    }

                    div {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .formarea {
        margin-top: 10px;
        width: 80%;
    }

    .contact {
        &__area {
            padding: 0;

            &__topics {
                width: 100%;
            }
        }
    }
}