@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  margin-right: 10px;
}

.w {
  width: 990px;
  margin: 0 auto;
}

.glheader {
  height: auto;
  background-image: url("../images/pattern.png");
  position: relative;
  display: block;
}

.glheader__top {
  padding-bottom: 35px;
  position: relative;
  background-color: #F4810E;
  display: block;
  height: 10px;
}

.glheader__top::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #ffeaca 12px, transparent 13px);
}

.glheader__top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffeaca 13px);
}

.glheader__area {
  display: block;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.glheader__area__logoarea {
  height: 100px;
  margin-bottom: 10px;
  width: 30%;
}

.glheader__area__logoarea__logo img {
  text-indent: -9999px;
  height: 75px;
  background-size: contain;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.glheader__area__logoarea__catch {
  color: #4b4539;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.glheader__box {
  width: 65%;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
}

.glheader__box__tel {
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.glheader__box__tel__topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glheader__box__tel__topic img {
  text-align: center;
  width: 1.6rem;
  height: 1.6rem;
}

.glheader__box__tel__topic p {
  text-align: center;
  color: #F4810E;
}

.glheader__box__btn {
  width: 50%;
  display: flex;
  justify-content: center;
}

.glheader__box__btn__contact {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  background-color: #83b33c;
  color: #fff;
  border-radius: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  font-weight: bold;
  margin-right: 5px;
}

.glheader__box__btn__contact p {
  text-align: center;
}

.glheader__box__btn__contact:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.glheader__box__btn__faq {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  background-color: #83b33c;
  color: #fff;
  border-radius: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.glheader__box__btn__faq p {
  text-align: center;
}

.glheader__box__btn__faq:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.glheader::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}

.glheader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}

.topimage {
  display: block;
  height: 660px;
  position: relative;
  background: #fff url("../images/heroimage.png") left bottom repeat-x;
  height: 660px;
}

.topimage__area {
  display: block;
  height: 660px;
  position: relative;
}

.topimage__area__catch {
  position: absolute;
  height: 150px;
  width: 450px;
  margin: 0;
  background: url("../images/catch.png") 0 0 no-repeat;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
  background-size: contain;
  left: 0px;
  top: 50px;
}

.topimage__area__hero img {
  position: absolute;
  right: 40px;
  bottom: 40px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.topimage__area__logo {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
  position: absolute;
  height: 218px;
  width: 580px;
  background: url("../images/logo.png") 0 0 no-repeat;
  left: 00px;
  top: 230px;
}

.topimage__area__bar {
  position: absolute;
  background-color: #F4810E;
  display: block;
  height: 50px;
  padding: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.topimage__area__bar__catch {
  background-color: #F4810E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topimage__area__bar__catch img {
  height: 45px;
  vertical-align: middle;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.topimage__area__bar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #ffeaca 12px, transparent 13px);
}

.topimage__area__bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffeaca 13px);
}

.service {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  background-image: url("../images/pattern.png");
}

.service__title {
  width: 350px;
  height: 80px;
  color: #F4810E;
  border: 3px solid #b78d4a;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-bottom: 58px;
}

.service__title h2 {
  margin-top: 8px;
}

.service__title h2 img {
  text-align: center;
  height: 35px;
}

.service__title p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.0rem;
}

.service__intro {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.service__intro__title {
  width: 250px;
  height: 70px;
  font-size: 1.2rem;
  position: absolute;
  background-color: #fff;
  top: -33px;
  left: 0;
  right: 0;
  margin: auto;
  color: #F4810E;
  line-height: 0.8rem;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.service__intro__title img {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.service__intro__title span {
  padding-left: 5px;
  padding-top: 18px;
}

.service__intro__para {
  font-size: 1.2rem;
  padding: 35px;
  line-height: 3.5rem;
  font-weight: bold;
  color: #4b4539;
}

.service__intro__para__span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F4810E;
  display: inline-block;
  background: linear-gradient(transparent 60%, #ffeaca 0%);
}

.service__intro__icon1 {
  display: block;
  height: 150px;
  width: 105px;
  background-image: url("../images/s-i-img01.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  top: 150px;
  left: 90px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.service__intro__icon2 {
  display: block;
  height: 150px;
  width: 105px;
  background-image: url("../images/s-i-img02.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  top: 250px;
  right: 90px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.service__intro__icon3 {
  display: block;
  height: 150px;
  width: 105px;
  background-image: url("../images/s-i-img03.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  right: 110px;
  position: absolute;
  top: 350px;
  left: 140px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.service__topics1, .service__topics2 {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.service__topics1__topic, .service__topics2__topic {
  width: 250px;
  height: 300px;
  position: relative;
}

.service__topics1__topic__title, .service__topics2__topic__title {
  text-align: center;
  font-size: 1.5rem;
  color: #ffeaca;
}

.service__topics1__topic__title img, .service__topics2__topic__title img {
  width: 100%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.service__topics1__topic__price, .service__topics2__topic__price {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.service__topics1__topic__price__bar, .service__topics2__topic__price__bar {
  padding: 10px;
  border: 3px solid #b78d4a;
  background-color: #fff;
  color: #b78d4a;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 5px 5px;
}

.service__topics1__topic:first-child, .service__topics2__topic:first-child {
  margin-left: 60px;
}

.service__topics1__topic:last-child, .service__topics2__topic:last-child {
  margin-right: 60px;
}

.service__topics2__topic {
  margin-bottom: 30px;
}

.service::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}

.service::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}

.guide {
  padding-top: 50px;
  position: relative;
  display: block;
}

.guide__area__title {
  width: 350px;
  height: 80px;
  color: #F4810E;
  border: 3px solid #b78d4a;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px 5px;
  background-image: url("../images/pattern.png");
  margin-bottom: 48px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.guide__area__title h2 {
  margin-top: 8px;
}

.guide__area__title h2 img {
  text-align: center;
  height: 35px;
}

.guide__area__title p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.0rem;
}

.guide__area__topics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.guide__area__topics__topic {
  height: 260px;
  background-color: #fff;
  width: 216px;
  position: relative;
  border: 3px solid #b78d4a;
  padding: 15px;
  margin-right: 25px;
  border-radius: 5px 5px;
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.guide__area__topics__topic__round {
  display: block;
  width: 65px;
  height: 65px;
  background-color: #F4810E;
  border-radius: 50%;
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.guide__area__topics__topic__round__num {
  font-size: 1.5rem;
}

.guide__area__topics__topic__title {
  padding-top: 40px;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #4b4539;
}

.guide__area__topics__topic__image1 {
  margin: 0 auto;
  width: 90px;
  height: 100px;
  background-image: url("../images/g-step1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.guide__area__topics__topic__image2 {
  margin: 0 auto;
  width: 100px;
  height: 110px;
  background-image: url("../images/g-step2.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.guide__area__topics__topic__image3 {
  margin: 0 auto;
  width: 80px;
  height: 90px;
  background-image: url("../images/g-step3.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.guide__area__topics__topic__image4 {
  margin: 0 auto;
  width: 90px;
  height: 100px;
  background-image: url("../images/g-step4.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.guide__area__topics__topic__para {
  text-align: center;
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.2rem;
  color: #4b4539;
}

.guide__last__topic {
  margin: 0;
}

.guide::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #ffeaca 12px, transparent 13px);
}

.guide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffeaca 13px);
}

.contactform {
  background-image: url("../images/pattern.png");
  padding-top: 50px;
  position: relative;
  display: block;
  padding-bottom: 30px;
}

.contactform__title {
  width: 350px;
  height: 80px;
  color: #F4810E;
  border: 3px solid #b78d4a;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px 5px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.contactform__title h2 {
  margin-top: 8px;
}

.contactform__title h2 img {
  text-align: center;
  height: 35px;
}

.contactform__title p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.0rem;
}

.contactform__area {
  background-color: #fff;
  padding: 30px 0;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.contactform__area__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b4539;
  margin-bottom: 20px;
}

.contactform__area__para {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #F4810E;
}

.contactform__area__box {
  display: block;
  border: 3px solid #ffeaca;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.contactform__area__box__topics {
  margin-bottom: 20px;
  color: #4b4539;
}

.contactform__area__box__topics__topic {
  width: 180px;
  float: left;
}

.contactform__area__box__topics__topic::after {
  content: "必須";
  padding: 3px;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 5px 5px;
  background-color: #F4810E;
  float: right;
}

.contactform__area__box__topics:nth-child(5) {
  padding-bottom: 16px;
}

.contactform__area__box__topics:last-child {
  margin-bottom: 0;
}

.contactform__area__box__btn {
  font-weight: bold;
  border: none;
  background-color: #83b33c;
  color: #fff;
  border-radius: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  height: 50px;
  width: 200px;
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.contactform__area__box__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.formarea {
  width: 450px;
  border: 1px dotted #b78d4a;
  border-radius: 5px 5px;
  padding: 8px;
  margin-left: 10px;
  vertical-align: middle;
  font-family: 'Noto Sans JP', sans-serif;
}

.contactform::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}

.contactform::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}

.faq {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  display: block;
}

.faq__title {
  background-image: url("../images/pattern.png");
  width: 350px;
  height: 80px;
  color: #F4810E;
  border: 3px solid #b78d4a;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px 5px;
  margin-bottom: 58px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.faq__title h2 {
  margin-top: 8px;
}

.faq__title h2 img {
  text-align: center;
  height: 35px;
}

.faq__title p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.0rem;
}

.faq__list__topics {
  position: relative;
  padding: 1px;
}

.faq__list__topics__topic {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  position: relative;
  margin-bottom: 50px;
}

.faq__list__topics__topic__round {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #F4810E;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

p.question {
  margin: 0 auto 0 0;
  cursor: pointer;
  padding: 20px;
  font-size: 1.4rem;
  color: #4b4539;
}

p.question::after {
  float: right;
  content: '';
  /*何も入れない*/
  display: inline-block;
  /*忘れずに！*/
  width: 30px;
  /*画像の幅*/
  height: 30px;
  /*画像の高さ*/
  background-image: url("../images/faq.png");
  background-size: contain;
  vertical-align: middle;
}

p.question:hover {
  opacity: 0.5;
}

p.answer {
  color: #F4810E;
  display: none;
  margin: 0 20px 10px 20px;
  padding: 20px;
  font-size: 1.4rem;
}

.faq::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #F4810E 13px);
}

.faq::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #F4810E 12px, transparent 13px);
}

.contact {
  padding-bottom: 50px;
  position: relative;
  display: block;
}

.contact__area {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 30px 50px;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.contact__area__para {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b4539;
}

.contact__area__topics {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.contact__area__topics__tel {
  height: 90px;
  background-color: #83b33c;
  color: #fff;
  border-radius: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.contact__area__topics__tel__number {
  font-size: 3.2rem;
  font-weight: bold;
}

.contact__area__topics__tel:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.contact__area__topics__mail {
  height: 90px;
  background-color: #83b33c;
  color: #fff;
  border-radius: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__area__topics__mail__btn {
  font-size: 2.0rem;
  font-weight: bold;
}

.contact__area__topics__mail:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.contact::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #F4810E 13px);
}

.contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px 15px, #F4810E 12px, transparent 13px);
}

.shiny-btn1 {
  display: block;
  position: relative;
  width: 100%;
  /*ボタンの幅*/
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.shiny-btn1:hover {
  text-decoration: none;
  color: #fff;
}

.shiny-btn1::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 4s ease-in-out infinite;
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.glfooter {
  height: 80px;
  background-color: #F4810E;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 25px;
}

.glfooter__nav {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 1.0rem;
  margin-bottom: 15px;
}

.glfooter__nav a {
  color: #fff;
  text-decoration: none;
}

.glfooter__copy img {
  height: 30px;
  padding: 0 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.topbtn {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 40px;
  bottom: 150px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
}

.topbtn:hover {
  opacity: 0.6;
}

.privacy {
  height: auto;
  padding-top: 30px;
}

.privacy__title {
  width: 350px;
  height: 80px;
  color: #F4810E;
  border: 3px solid #b78d4a;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px 5px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.privacy__title h2 {
  margin-top: 8px;
}

.privacy__title h2 img {
  text-align: center;
  height: 35px;
}

.privacy__title p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.0rem;
}

.privacy__title h2 {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.privacy__area {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: auto;
  border: 3px solid #b78d4a;
  border-radius: 5px 5px;
  margin-bottom: 30px;
}

.privacy__area__topics {
  padding: 30px;
}

.privacy__area__topics__topic {
  text-align: center;
  margin-bottom: 15px;
}

.privacy__area__topics__topic h3 {
  margin: 10px;
}

/*スマホ用ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 768px) {
  .w {
    width: 100%;
  }
  .titlebox {
    width: 95%;
    padding: 0;
  }
  .titlebox h2 {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  .glheader {
    height: 350px;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }
  .glheader__area {
    height: 305px;
    display: block;
  }
  .glheader__area__logoarea {
    margin: 0 auto;
    width: 95%;
    height: 120px;
  }
  .glheader__area__logoarea__catch {
    width: 100%;
    margin-bottom: 5px;
  }
  .glheader__area__logoarea__logo {
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 100%;
  }
  .glheader__box {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
  }
  .glheader__box__tel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
  }
  .glheader__box__tel__topic {
    font-size: 2.4rem;
    color: #F4810E;
  }
  .glheader__box__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .glheader__box__btn__contact, .glheader__box__btn__faq {
    font-size: 1.2rem;
    width: 100%;
    margin: 5px;
  }
  .topimage {
    height: 480px;
  }
  .topimage__area {
    width: 95%;
    height: 480px;
  }
  .topimage__area__catch {
    width: 98%;
    margin: 0 auto;
    position: static;
  }
  .topimage__area__hero img {
    display: block;
    width: auto;
    height: auto;
    max-width: 40%;
    min-height: 40%;
    background-size: contain;
    margin: 0 auto;
    bottom: 40px;
    right: 0;
  }
  .topimage__area__logo {
    position: static;
    width: 70%;
    background-size: contain;
    float: left;
  }
  .topimage__area__bar {
    width: 100%;
    padding: 0;
    height: 60px;
  }
  .topimage__area__bar__catch {
    width: 97%;
    margin: 0 auto;
  }
  .topimage__area__bar__catch img {
    padding-top: 10px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .service {
    padding-top: 20px;
  }
  .service__title {
    margin-bottom: 43px;
  }
  .service__intro {
    width: 98%;
    margin: 0 auto;
    padding: 0;
  }
  .service__intro__para {
    padding: 0;
    padding-top: 50px;
    line-height: 1.8rem;
    font-size: 0.9rem;
    position: relative;
  }
  .service__intro__para__span {
    font-size: 0.9rem;
  }
  .service__intro__para:last-child {
    padding-bottom: 15px;
  }
  .service__intro__icon1, .service__intro__icon2, .service__intro__icon3 {
    display: none;
  }
  .service__topics1, .service__topics2 {
    width: 95%;
    margin: 0 auto;
  }
  .service__topics1__topic, .service__topics2__topic {
    margin: 0;
    height: auto;
  }
  .service__topics1__topic__title, .service__topics2__topic__title {
    margin-top: 15px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .service__topics1__topic__price, .service__topics2__topic__price {
    width: 90%;
  }
  .service__topics1__topic__price__bar, .service__topics2__topic__price__bar {
    font-size: 1.1rem;
    padding: 5px 0 5px 0;
  }
  .service__topics1__topic:first-child, .service__topics2__topic:first-child {
    margin: 0;
  }
  .service__topics1__topic:last-child, .service__topics2__topic:last-child {
    margin: 0;
  }
  .service__topics2 {
    margin-bottom: 15px;
  }
  .service__intro__icons {
    display: flex;
    justify-content: space-between;
  }
  .guide {
    padding-top: 20px;
  }
  .guide__area__title {
    margin-bottom: 43px;
  }
  .guide__area__topics {
    width: 100%;
    display: block;
  }
  .guide__area__topics__topic {
    width: 75%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
  }
  .guide__area__topics__topic:last-child {
    margin-bottom: 0;
  }
  .faq {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq__title {
    margin-bottom: 48px;
  }
  .faq__list {
    width: 95%;
    margin: 0 auto;
  }
  .contactform {
    padding-top: 20px;
    padding-bottom: 90px;
  }
  .contactform__title {
    margin-bottom: 15px;
  }
  .contactform__area {
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .contactform__area__title {
    font-size: 1.4rem;
  }
  .contactform__area__box {
    width: 100%;
    display: block;
    padding: 0;
    border: none;
  }
  .contactform__area__box__topics {
    width: 100%;
  }
  .contactform__area__box__topics__topic {
    float: none;
    margin: 0 auto;
  }
  .contactform__area__box__topics__topic::after {
    margin-left: 5px;
    float: none;
  }
  .contactform__area__box__topics div {
    margin-top: 10px;
  }
  .contactform__area__para {
    font-size: 1.0rem;
  }
  .formarea {
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__area {
    width: 90%;
    margin: 0 auto;
    padding: 15px 5px 15px 5px;
    margin-bottom: 15px;
  }
  .contact__area__para {
    font-size: 1.4rem;
  }
  .contact__area__topics {
    width: 100%;
  }
  .contact__area__topics__tel__number {
    font-size: 2.6rem;
  }
  .contact__area__topics__mail {
    padding-right: 5px;
    padding-right: 5px;
  }
  .contact__area__topics__mail__btn {
    font-size: 1.7rem;
  }
  .calendarbox {
    width: 90%;
  }
  .calendarbox ul {
    padding: 15px;
    height: 400px;
  }
  .calendarbox ul li iframe {
    height: 350px;
  }
  .glfooter {
    height: auto;
  }
  .glfooter__nav {
    display: block;
  }
  .glfooter__nav__topic {
    margin-bottom: 10px;
  }
  .glfooter__copy {
    padding-bottom: 15px;
  }
  .topbtn {
    bottom: 70px;
  }
  .privacy__area {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
